<html>

    <head>
        <title>View Data</title>
    </head>

    <body style="background-color: whitesmoke;">
        <div align="center">
            <h1>Student's Data:</h1>

            <tr>
            <div  align="center">
                <table border="5" width="100%" cellspacing="0" cellpadding="5px">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    <tbody align="center">
                        <tr th:each="student ,status: ${liststudent }">
                            <td th:text="${status.index + 1}"></td>
                            <td th:text="${student.name}"></td>
                            <td th:text="${student.address}"></td>
                            <td th:text="${student.phone}"></td>
                            <td><a th:href="@{'/edit/' + ${student.id}}">Edit</a></td>
                            <td><a th:href="@{'/delete/' + ${student.id}}">Delete</a></td>
                        </tr>
                    </tbody>
                </table>

            </div><br>
            <form  th:action="@{'/new'}" method="get">
                <input type="submit" value="Add Data" style="padding: 8px 20px; box-shadow: 2px 2px 5px #999;">
                       
            </form>

        </div>
</tbody>
</table>
<div>
</body>
</html>